.add-button {
    width: 60px;
    height: 60px;
    background-color:#7b61ff;
    border: none;
    border-radius: 50px;
    color: white;
    font-size: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    position: fixed;
    bottom: 150px;
    right: 150px;
}

.add-button:hover {
    background-color:#5f48e1
}

.add-button:focus {
    outline: none;
}