@import url("./css/modal.css");
@import url("./css/title.css");
@import url("./css/button.css");
@import url("./css/task.css");
@import url("./css/search.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box
}

body {
  background-color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
